In [1]:
import pandas as pd

from pathlib import Path

In [2]:
Pybankpath = Path("E:\OneDrive\Documents\GitHub\python-homework\PyBank\Homework_Week 2_PyBank_Resources_budget_data.csv")

In [3]:
pybank_data = pd.read_csv(Pybankpath)

pybank_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#The total number of months included in the dataset

pybank_data["Date"].count()

86

In [5]:
total_months = pybank_data["Date"].count()

print(total_months)

86

In [6]:
#The net total amount of Profit/Losses over the entire period.

pybank_data["Profit/Losses"].sum()

38382578

In [7]:
NetPL = pybank_data["Profit/Losses"].sum()

print(NetPL)

38382578

In [8]:
#The average of the changes in Profit/Losses over the entire period

pybank_data["Profit/Losses"].mean()

446309.0465116279

In [9]:
##adding new 'PLchanges' column

pybank_data["Profit/Losses"].sum()

pybank_data['NetPL'] = pybank_data["Profit/Losses"] - pybank_data["Profit/Losses"].shift()

pybank_data.head()

       Date  Profit/Losses     NetPL
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [10]:
pybank_data.tail()

        Date  Profit/Losses     NetPL
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

In [23]:
average_PL = round(pybank_data["NetPL"].mean(),2)

print(average_PL)

-2315.12

In [43]:
#The greatest increase in profits (date and amount) over the entire period

pybank_data["NetPL"].max()

max_diff = int(pybank_data["NetPL"].max())
print(max_diff)

1926159

In [44]:
pybank_data.loc[pybank_data["NetPL"] == pybank_data["NetPL"].max(),"Date"]

25    Feb-2012
Name: Date, dtype: object

In [45]:
#The greatest decrease in profits (date and amount) over the entire period
pybank_data["NetPL"].min()

min_diff = int(pybank_data["NetPL"].min())
print(min_diff)

-2196167

In [46]:
pybank_data.loc[pybank_data["NetPL"] == pybank_data["NetPL"].min(),"Date"]

44    Sep-2013
Name: Date, dtype: object

In [47]:
# resulting analysis

print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${NetPL}")
print(f"Average  Change: ${average_PL}")
print(f"Greatest Increase in Profits: Feb-2012 ${max_diff}")
print(f"Greatest Decrease in Profits: Sep-2013 ${min_diff}")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167

In [49]:
#export a text file with the results

result_output = 'data_output.txt'

with open ("result_output.txt", "w") as file:
    file.write("Financial Analysis\n")
    file.write("----------------------------\n")
    file.write(f"Total Months: {total_months}\n")
    file.write(f"Total: ${NetPL}\n")
    file.write(f"Average  Change: ${average_PL}\n")
    file.write(f"Greatest Increase in Profits: Feb-2012 ${max_diff}\n")
    file.write(f"Greatest Decrease in Profits: Sep-2013 ${min_diff}\n")